body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #ccc;
    color: white;
    font-size: 11px;
}

#Display {
    display: block;
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 460px;
    background: black;
    margin: 0 auto;
}

#FPS {
    width: 320px;
    height: 20px;
    background: white;
    color: black;
    margin: 0px auto;
}
