body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #ccc;
    color: white;
    font-size: 11px;
}

#MainWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: black;
}

#Display {
    display: block;
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 460px;
    background: black;
    margin: 0 auto;
}

#Status {
    width: 320px;
    height: 20px;
    background: white;
    color: black;
    margin: 20px auto 0;
}
